{% extends 'musicians/base.html' %}
{% block body %}
    <h1>Musician Directory</h1>
    <a href="{% url 'musician_create' %}">Add Musician</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Musician Name</th>
                <th>Email</th>
                <th>Album Rating</th>
                <th>Instrument Type</th>
                <th>Album Name</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for musician in musicians %}
                {% for album in musician.albums.all %}
                <tr>
                    <td>{{ musician.id }}</td>
                    <td><a href="{% url 'musician_edit' musician.id %}">{{ musician.first_name }} {{ musician.last_name }}</a></td>
                    <td>{{ musician.email }}</td>
                    <td>{{ album.rating }}</td>
                    <td>{{ musician.instrument_type }}</td>
                    <td><a href="{% url 'album_edit' album.id %}">{{ album.album_name }}</a></td>
                    <td>{{ album.release_date|date:"d-M-Y" }}</td>
                    <td>
                        <a href="{% url 'album_edit' album.id %}" class="btn btn-outline-success mx-4">Edit</a>
                        <a href="{% url 'album_delete' album.id %}" class="btn btn-outline-success mx-4">Delete</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8">No albums found for this musician.</td>
                </tr>
                {% endfor %}
            {% empty %}
                <tr>
                    <td colspan="8">No musicians found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


